@tailwind base;
@tailwind components;
@tailwind utilities;


@layer base {
  .light {
    --color-primary-400: 255 115 50;
    --color-primary-500: 255 115 179;
    --color-success-400: 255 255 255;
    --color-success-500: 255 255 200;
  }

  .dark {
    --color-primary-400: 0 0 100;
    --color-primary-500: 0 0 255;
    --color-success-400: 255 255 255;
    --color-success-500: 255 255 200;
  }

  .midnight {
    --color-primary-400: 100 0 0;
    --color-primary-500: 255 0 0;
  }
}